@charset "UTF-8";
a {
  text-decoration: none;
}

.page-header {
  padding: 20px 0px;
}

.board-detail {
  display: flex;
}
.board-header {
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
}
.board-list {
  margin: 20px 0px;
}

.board-footer {
  display: flex;
  flex-direction: row-reverse;
}

.detail-link {
  display: flex;
  margin: 6px;
}

.board-footer {
  margin-top: 30px;
}